<!DOCTYPE html>
<html lang="en">

<head> 
<meta charset="utf-8"> 
<title>flasktest-py</title> 
</head>
<body>
<form action="" method='POST'>
	name
	<input type="text" name="name1">
	<br>
	password
	<input type="password" name="password">
	<br>
	<input type="submit" name="submit">
</form>

<h1>hello world</h1>
<p id="demo">11</p>
<p id="demo">static is  for get jpg... </p>
<p>
	{{data}}<br>

	https://jinja.palletsprojects.com/en/3.0.x/
	
</p>






<button type="button" onclick="myFunction()">here</button>
<script src="C:/Users/sylar/Desktop/testjs.js">

</script>

<p>
html build system in sublime3, don't escaped path properly<br>
{
    "cmd": ["C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe", "$file"]
}
</p>
	
</body>  
</html>
